body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafb;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 900;
  color: #333740;
  text-align: center;
  margin: 0;
}
