name: Main DRF Movies Workflow

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8==7.3.0 flake8-isort==6.1.2

      - name: Test with flake8
        run: python -m flake8 .

  deploy:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd Dev
            cd Python
            git clone https://github.com/srgdevkz/drf_movies.git
            cd drf_movies
            python3.9 -m venv venv
            source venv/bin/activate
            python3.9 -m pip install --upgrade pip
            pip install -r requirements.txt
